<div class="nav navbar-nav">
    <nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom default-header">
        <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <!--<svg class="bi me-2" width="40" height="32"></svg>-->
            <img src="https://cdn-icons-png.flaticon.com/512/6978/6978255.png" style="height: 50px; width: 50px;"/>
            <span class="fs-4" style="color: #fff;">Nevin's Pizza Shop</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="config">Configurator</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="order">Orders</a></li>
        </ul>
    </nav>
</div>